.rn-style {
    font: 14px/16px "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif;
}

.rn-icon {
    width: 32px;
    height: 32px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/icons.png');
    background-repeat: no-repeat;
    display: block;
}

.rn-icon-invite {
    background-position: -128px -128px;
}

.rn-button {
    padding: 4px 10px;
    background-color: #edf6ff;
    border: 1px solid #ced5e6;
    display: inline-block;
    cursor: pointer;
}

.rn-top-panel {
    position: absolute;
    left: -250px;
    top: 0;
    width: 300px;
    height: 50px;
    opacity: 0;
    background-color: #e2e9fa;
    border-bottom-right-radius: 30px;
    border: 1px solid #bfc6d7;
}

.rn-top-panel a {
    line-height: 50px;
    cursor: pointer;
    padding: 2px 6px;
    margin: 0 2px;
    border: 1px solid #bfc6d7;
    background-color: #f2f8ff;
    border-radius: 3px;
}

.rn-window {
    position: absolute;
    width: 600px;
    height: 400px;
    left: 50%;
    top: 50px;
    margin-left: -300px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #bfc6d7;
    background-color: #e2e9fa;
    color: #000000;
    box-sizing: border-box;
}

.rn-window .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 24px;
    font-weight: bold;
}

.rn-window .title {
    font-weight: bold;
    font-size: 24px;
    padding: 8px 0;
}

.rn-window-invite .rn-groups {
    position: absolute;
    left: 10px;
    top: 60px;
    width: 280px;
    height: 330px;
    border: 1px solid #d0d7e8;
    background-color: #e7eeff;
    overflow: auto;
}

.rn-window-invite .rn-users {
    position: absolute;
    left: 295px;
    top: 60px;
    margin-left: 10px;
    width: 280px;
    height: 300px;
    border: 1px solid #d0d7e8;
    background-color: #e7eeff;
    overflow: auto;
}

.rn-window-invite .rn-submit {
    position: absolute;
    left: 489px;
    top: 367px;
}